nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

.gem-logo {
  max-width: 100px;
  width: 100%;
  height: auto;
  padding: 10px;
  cursor: pointer;
}

.navbar-list {
  padding: 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 10%;
}

.navbar-list li {
  padding: 20px;
  cursor: pointer;
}

.connect-button {
  padding: 10px;
  color: var(--font-color);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
