.mine-container {
  position: relative;
  width: 120px;
  height: 120px;
}

.mine-button {
  width: 120px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: none;
  background: transparent;

  cursor: pointer;

  transition: transform 100ms ease;
}

.mine-button img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.mine-button:hover {
  transform: scale(1.05);
}

.mine-button:active {
  transform: scale(0.92);
}

.floating-coin {
  position: absolute;
  color: rgb(10, 86, 38);
  left: 50%;
  top: 35%;

  font-size: 25px;
  font-weight: bold;

  pointer-events: none;

  animation: float-coin 700ms ease-out forwards;
}

@keyframes float-coin {
  0% {
    opacity: 1;
    transform: translate(-50%, 0) scale(0.8);
  }

  20% {
    transform: translate(-50%, -5px) scale(1.15);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -60px) scale(1);
  }
}